main{
    background-color: rgb(233, 227, 227);
    margin-top: 10%; 
}

html{
    background-color: #e9e3e3;
}
.container_url{
    text-align: center;
    padding-top: 25px;
    background-color: #96969b;
    width: 500px;
    height: 300px;
    margin: 0 auto;
    border-radius: 20pt;

    h1{
        color: #080a0a;
        font-weight: bold;
        letter-spacing: 2px; /* Espaçamento entre as letras */
      
    }p{
        color: #e9e3e3;;
        font-size: large;
        font-weight: 500;
        

    }input{
        margin: 0 auto;
        display: block;
        width: 334px;  
    }  
}
#p-short{
  
    font-weight: 600;
}

.btn-dark{
    
    margin-top: 12px;

}