main{
    background-color: #c0c8cc;
    margin-top: 10%; 
}
html{
    background-color: #c0c8cc;
}
.container_url{
    text-align: center;
    background-color: #c0c8cc;
    width: 700px;
    height: 300px;
    margin: 0 auto;

    h1{
       color: #000000;
    }p{
        color: #000000;

    }input{
        margin: 0 auto;
        display: block;
        width: 334px;  
    }
    
}